<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>810121778219-eqsn06bdj9h7mb8c4046mb4laueciu7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810121778219-eqsn06bdj9h7mb8c4046mb4laueciu7c</string>
	<key>API_KEY</key>
	<string>AIzaSyAKddtSQvtRYLtHnLmoadiH0MpAI5ifmww</string>
	<key>GCM_SENDER_ID</key>
	<string>810121778219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hip2save.hip2save</string>
	<key>PROJECT_ID</key>
	<string>hip2save-app-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>hip2save-app-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:810121778219:ios:e45ddeb5316fb9f08f466e</string>
	<key>DATABASE_URL</key>
	<string>https://hip2save-app-2019.firebaseio.com</string>
</dict>
</plist>
